.createMenu {
  display: flex;
  align-items: center;
  border: 2px solid #1cb56d;
  width: 100%;
  border-radius: 8px;
  padding: 4px 16px;
  /* grid-column: span 2; */
}

.icon {
  object-fit: contain;
  height: 80%;
}

.text {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  width: 100%;
}

.label {
  width: 100%;
  margin: 0;
  padding-left: 2px;
  color: #1cb56d;
  font-weight: 500;
}
.input {
  width: 100%;

  border: none;
  outline: none;
}
