.flexItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  width: 17em;
  height: 7em;
  margin: 10px;
  background-color: white;
  box-shadow: 2px 2.5px 7px 9px #fbfbfb;
}

.img {
  object-fit: contain;
  margin-left: 20px;
  width: 64px;
  height: 64px;
  border-radius: 50px;
}

.anchor {
  text-decoration: none;
  color: #605e7e;
}
